#cart {
    background-color: #fde300;
    height: 20px;
    border-radius: 2px;
    width: 25px;
    font-weight: 700;
    font-size: 14px;
    text-align: center
}
input[type=tel] {
    width: 40px;
}
